$color-accent: #3B2317;
$color-primary: #513C27;
$color-text-muted: #94897C;
$bg-primary: #E9E1D7;

%inter-400 {
  font-family: 'Inter_Regular', sans-serif;
  font-weight: 400;
}

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%lora-400 {
  font-family: 'Lora-Regular', serif;
  font-weight: 400;
}

%lora-500 {
  font-family: 'Lora-Medium', serif;
  font-weight: 500;
}

%button-reset{
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

