@media (max-width: 1200px) {
  .new-collection__img {
    img {
      max-width: 290px;
      object-fit: cover;
    }
  }

  .new-collection__box-img {
    left: -105px;

    img {
      max-width: 300px;
      height: 450px;
      object-fit: cover;
    }
  }

  .new-collection__content {
    min-width: 482px;
    padding-left: 0;
    padding-right: 0;
  }

  .new-collection__inner {
    gap: 25px;
  }

  .new-collection__caption {
    width: 200px;
    margin-bottom: 0;
  }

  .new-collection__box {
    padding-left: 0;
    padding-right: 0;
  }

  .new-collection {
    background-position: -205px -36%;
  }

  .designer__caption {
    top: 340px;
    left: -70px;
  }
}

@media (max-width: 1100px) {
  .header__lang {
    margin-right: 98px;
  }

  .top__content {
    padding-top: 74px;
    margin-right: 53px;
  }

  .top__title {
    margin-bottom: 48px;
  }

  .designer__box {
    max-width: 434px;
  }

  .designer__img {
    min-height: 554px;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {

  .footer {
    &__elements {
      flex-wrap: wrap;
      gap: 30px 47px;
    }

    &__element--social {
      order: 1;
      width: 100%;
    }

    &__element-title {
      display: none;
    }

    &__social-list {
      justify-content: flex-end;
      margin-top: -25px;
    }

    &__copy {
      padding-left: 0px;
    }
  }

  .join-us__inner {
    gap: 25px;
    padding: 0;
  }

  .join-us__img {
    max-width: 480px;
    height: auto;
  }

  .join-us__text {
    line-height: 1.2;
  }
}

@media (max-width: 990px) {
  .designer__img {
    min-height: 520px;
  }

  .designer__box {
    max-width: 320px;
  }

  .designer__content {
    max-width: 320px;
  }

  .designer__inner {
    padding: 0;
  }

  .designer {
    padding: 100px 0;
  }

  .designer__img {
    margin-bottom: 35px;
  }

  .designer__text:last-child {
    display: none;
  }

  .designer__caption {
    left: 11px;
    right: 11px;
    top: 400px;
  }

  .designer__decor {
    top: -50px;
    width: 200px;
    height: auto;
  }
}

@media (max-width: 920px) {

  .container {
    max-width: 660px;
  }

  .header__btn {
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9E1D7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0 100px;
    text-align: center;
    z-index: 5;
    transform: translateY(-200%);
    transition: transform .5s ease;
  }

  .menu.menu--active {
    transform: translateY(0);
  }

  .header__lang {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .header__logo {
    width: auto;
    margin-left: auto;
    margin-right: 87px;
    margin-bottom: 0;
  }

  .menu__list {
    flex-direction: column;
  }

  .footer__menu-list {
    position: relative;
    margin-bottom: 20px;
    padding-top: 65px;
    padding-bottom: 30px;
  }

  .footer__menu-item-logo {
    position: absolute;
    top: 5px;
  }

  .footer__elements {
    gap: 30px 70px;
  }

  .join-us__img {
    max-width: 320px;
    height: 100%;
    object-fit: cover;
  }

  .join-us__inner {
    gap: 20px;
  }

  .join-us__box {
    padding-top: 24px;
  }

  .join-us__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .join-us__text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .top__title {
    font-size: 45px;
  }

  .top__content {
    max-width: 273px;
  }

  .top {
    background-position: top;
  }

  .top__link {
    max-width: 248px;
  }

  .new-collection__box {
    display: none;
  }

  .new-collection__content {
    min-width: 325px;
  }

  .new-collection__title {
    font-size: 30px;
  }

  .new-collection__img img {
    max-width: 280px;
    height: 100%;
  }

  .new-collection__btn {
    margin-top: 36px;
  }
}

@media (max-width: 650px) {
  .new-collection__text {
    font-size: 16px;
  }

  .new-collection__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .new-collection__content {
    min-width: 220px;
  }

  .new-collection__img img {
    max-width: 220px;
  }

  .new-collection__inner {
    position: relative;
    gap: 20px;
    padding: 70px 0 60px;
    margin-bottom: 70px;
  }

  .new-collection__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .new-collection__content {
    padding-top: 0;
  }

  .new-collection__img {
    margin-top: 0;
  }

  .new-collection {
    background-size: 200px;
    background-position: -67px -58px;
  }

  .designer__caption {
    left: 22px;
    right: 22px;
    top: 200px;
    font-size: 11px;
    padding: 10px;
    width: 177px;
  }

  .designer__img {
    min-height: 320px;
    width: 220px;
    margin-bottom: 25px;
  }

  .designer__box {
    max-width: 220px;

    img {
      max-height: 320px;
      width: 100%;
    }
  }

  .designer__content {
    max-width: 220px;
  }

  .designer__text:nth-child(2) {
    display: none;
  }

  .designer__title {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .designer__inner {
    gap: 20px;
  }

  .designer__link {
    padding: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {

  .container {
    max-width: 480px;
  }

  .header__logo {
    margin-right: auto;
  }

  .footer__menu-list {
    gap: 11px 35px;
    flex-wrap: wrap;
  }

  .footer__menu-list {
    padding-left: 87px;
    padding-right: 87px;
  }

  .footer__elements {
    gap: 30px 100px;
    justify-content: center;
    text-align: center;
  }

  .footer__bottom-inner {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer__social-list {
    justify-content: center;
    margin-top: 0;
  }

  .join-us__img {
    max-width: 220px;
  }

  .join-us__title {
    font-size: 20px;
  }

  .join-us__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .join-us label+label {
    margin-bottom: 20px;
  }

  .join-us__input {
    font-size: 16px;
  }

  .join-us__box {
    padding-bottom: 23px;
  }

  .top__content {
    margin-right: 18px;
    padding-top: 44px;
  }

  .top__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .top__link {
    max-width: 222px;
  }
}

@media (max-width: 470px) {
  .header__actions {
    gap: 15px;
  }

  .logo__img {
    width: 162px;
    height: 16px;
  }

  .footer__menu-list {
    padding-left: 27px;
    padding-right: 27px;
  }

  .join-us__img {
    max-width: 160px;
  }

  .join-us__box {
    padding-top: 20px;
  }

  .top__content {
    margin-right: 0;
    padding-top: 32px;
  }

  .top__title {
    margin-bottom: 20px;
  }

  .top__link {
    font-size: 16px;
    max-width: 185px;
  }

  .new-collection__title {
    margin-bottom: 15px;
  }

  .new-collection__content {
    min-width: 160px;
  }

  .new-collection__img img {
    max-width: 160px;
  }

  .new-collection__text-mobile {
    display: none;
  }

  .designer__img {
    min-height: 315px;
    width: 160px;
  }

  .designer__box {
    max-width: 160px;
  }

  .designer__content {
    max-width: 160px;
  }

  .designer__caption {
    left: 13px;
    right: 13px;
    top: 220px;
    width: 134px;
  }
}