@media (max-width: 1366px) {
  .blog-main__inner {
    gap: 20px;
  }

  .blog-main__img {
    width: auto;
    max-width: 540px;
    height: auto;
  }

  .blog-main__category {
    margin-bottom: 16px;
  }

  .blog-main__text {
    margin-bottom: 40px;
  }

  .blog-one__content h1 {
    font-size: 84px;
  }
}









@media (max-width: 1200px) {
  .new-collection__img {
    img {
      max-width: 290px;
      object-fit: cover;
    }
  }

  .new-collection__box-img {
    left: -105px;

    img {
      max-width: 300px;
      height: 450px;
      object-fit: cover;
    }
  }

  .new-collection__content {
    min-width: 482px;
    padding-left: 0;
    padding-right: 0;
  }

  .new-collection__inner {
    gap: 25px;
  }

  .new-collection__caption {
    width: 200px;
    margin-bottom: 0;
  }

  .new-collection__box {
    padding-left: 0;
    padding-right: 0;
  }

  .new-collection {
    background-position: -205px -36%;
  }

  .designer__caption {
    top: 340px;
    left: -70px;
  }

  .checkout__content {
    gap: 20px;
  }

  .checkout__details {
    min-width: auto;
  }
}








@media (max-width: 1100px) {
  .header__lang {
    margin-right: 98px;
  }

  .top__content {
    padding-top: 74px;
    margin-right: 53px;
  }

  .top__title {
    margin-bottom: 48px;
  }

  .designer__box {
    max-width: 434px;
  }

  .designer__img {
    min-height: 554px;
    object-fit: cover;
  }

}








@media (max-width: 1000px) {

  .footer {
    &__elements {
      flex-wrap: wrap;
      gap: 30px 47px;
    }

    &__element--social {
      order: 1;
      width: 100%;
    }

    &__element-title {
      display: none;
    }

    &__social-list {
      justify-content: flex-end;
      margin-top: -25px;
    }

    &__copy {
      padding-left: 0px;
    }
  }

  .join-us__inner {
    gap: 25px;
    padding: 0;
  }

  .join-us__img {
    max-width: 480px;
    height: auto;
  }

  .join-us__text {
    line-height: 1.2;
  }

  .our-advantages__img {
    left: 0;
  }

  .our-advantages__inner {
    padding: 64px 0;
  }

  .our-advantages__list {
    column-gap: 40px;
  }

  .our-blog__inner {
    padding: 0;
    grid-template-columns: 1fr 280px 246px;
  }

  .our-blog__box-img {
    height: auto;
  }

  .our-blog {
    padding: 100px 0;
  }

  .appointment__box {
    padding: 0;
    gap: 20px;
  }

  .blog-main__inner {
    flex-direction: column;
  }

  .blog-main__text {
    max-width: 100%;
  }

  .blog__nav-btns {
    margin-left: 50px;
  }

  .blog__nav {
    gap: 10px;
  }

  .blog-one__content h1 {
    font-size: 55px;
  }

  .page-404__title {
    font-size: 80px;
    margin-bottom: 0;
  }

  .page-404__link span {
    font-size: 24px;
  }

  .moving__text {
    font-size: 120px;
  }

  /* 1000 */
}








@media (max-width: 990px) {

  .designer__img {
    min-height: 520px;
  }

  .designer__box {
    max-width: 320px;
  }

  .designer__content {
    max-width: 320px;
  }

  .designer__inner {
    padding: 0;
  }

  .designer {
    padding: 100px 0;
  }

  .designer__img {
    margin-bottom: 35px;
  }

  .designer__text:last-child {
    display: none;
  }

  .designer__caption {
    left: 11px;
    right: 11px;
    top: 400px;
  }

  .designer__decor {
    top: -50px;
    width: 200px;
    height: auto;
  }
}








@media (max-width: 920px) {

  .container {
    max-width: 660px;
  }

  .header__btn {
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9E1D7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0 100px;
    text-align: center;
    z-index: 5;
    transform: translateY(-200%);
    transition: transform .5s ease;
  }

  .menu.menu--active {
    transform: translateY(0);
  }

  .header__lang {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .header__logo {
    width: auto;
    margin-left: auto;
    margin-right: 87px;
    margin-bottom: 0;
  }

  .menu__list {
    flex-direction: column;
  }

  .footer__menu-list {
    position: relative;
    margin-bottom: 20px;
    padding-top: 65px;
    padding-bottom: 30px;
  }

  .footer__menu-item-logo {
    position: absolute;
    top: 5px;
  }

  .footer__elements {
    gap: 30px 70px;
  }

  .join-us__img {
    max-width: 320px;
    height: 100%;
    object-fit: cover;
  }

  .join-us__inner {
    gap: 20px;
  }

  .join-us__box {
    padding-top: 24px;
  }

  .join-us__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .join-us__text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .top__title {
    font-size: 45px;
  }

  .top__content {
    max-width: 273px;
  }

  .top {
    background-position: top;
  }

  .top__link {
    max-width: 248px;
  }

  .new-collection__box {
    display: none;
  }

  .new-collection__content {
    min-width: 325px;
  }

  .new-collection__title {
    font-size: 30px;
  }

  .new-collection__img img {
    max-width: 280px;
    height: 100%;
  }

  .new-collection__btn {
    margin-top: 36px;
  }

  .our-advantages__img {
    width: 320px;
    height: 460px;
    object-fit: cover;
  }

  .our-advantages__list {
    column-count: 1;
  }

  .our-advantages__item+.our-advantages__item {
    margin-top: 20px;
  }

  .our-advantages__item {
    margin-bottom: 0;
  }

  .our-advantages__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .our-advantages__inner {
    padding: 24px;
  }

  .our-advantages__decor {
    right: -92px;
    height: auto;
  }

  .our-blog__box-right {
    display: none;
  }

  .our-blog__inner {
    grid-template-columns: 1fr 280px;
  }

  .our-blog__title {
    font-size: 30px;
  }

  .appointment__img {
    min-height: 580px;
    object-fit: cover;
  }

  .appointment {
    background-position: center 200px;
    background-size: 200px;
  }

  .appointment__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .appointment__form-title {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .reviews__top-link {
    font-size: 16px;
  }

  .reviews__top-title {
    font-size: 38px;
  }

  .reviews {
    padding-bottom: 60px;
  }

  .blog__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog {
    padding-bottom: 60px;
  }

  .blog-main__link {
    padding: 14px 40px;
  }

  .blog-main__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .blog__item-title {
    font-size: 18px;
  }

  .blog__list {
    gap: 20px;
  }

  .blog__nav {
    flex-wrap: wrap;
  }

  .blog__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .blog__select-form,
  .blog__search {
    width: 48%;
  }

  .blog__nav-btns {
    margin-left: auto;
    margin-top: 20px;
  }

  .select,
  .blog__search-form {
    width: 100%;
  }

  .checkout__content {
    flex-direction: column-reverse;
  }

  /* 920 */
}








@media (max-width: 650px) {

  .new-collection__text {
    font-size: 16px;
  }

  .new-collection__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .new-collection__content {
    min-width: 220px;
  }

  .new-collection__img img {
    max-width: 220px;
  }

  .new-collection__inner {
    position: relative;
    gap: 20px;
    padding: 70px 0 60px;
    margin-bottom: 70px;
  }

  .new-collection__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .new-collection__content {
    padding-top: 0;
  }

  .new-collection__img {
    margin-top: 0;
  }

  .new-collection {
    background-size: 200px;
    background-position: -67px -58px;
  }

  .designer__caption {
    left: 22px;
    right: 22px;
    top: 200px;
    font-size: 11px;
    padding: 10px;
    width: 177px;
  }

  .designer__img {
    min-height: 320px;
    width: 220px;
    margin-bottom: 25px;
  }

  .designer__box {
    max-width: 220px;

    img {
      max-height: 320px;
      width: 100%;
    }
  }

  .designer__content {
    max-width: 220px;
  }

  .designer__text:nth-child(2) {
    display: none;
  }

  .designer__title {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .designer__inner {
    gap: 20px;
  }

  .designer__link {
    padding: 10px;
    width: 100%;
  }

  .our-advantages__img {
    width: 220px;
    height: 344px;
  }

  .our-advantages__title {
    font-size: 20px;
  }

  .our-advantages__item+.our-advantages__item {
    margin-top: 15px;
  }

  .our-advantages__item {
    font-size: 16px;
  }

  .our-advantages__inner {
    padding: 24px 0;
  }

  .blog-main__img {
    width: 100%;
    max-width: 100%;
  }

  .blog-main__title a {
    margin-bottom: 20px;
    font-size: 34px;
  }

  .blog__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-one__content h1 {
    font-size: 45px;
  }

  .blog-one__content b {
    font-size: 24px;
  }

  .blog-one__content h3 {
    font-size: 34px;
    margin-bottom: 25px;
  }

  .blog-one__content>p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .blog-one__content b:first-of-type {
    margin-bottom: 40px;
  }

  .checkout__title {
    font-size: 46px;
  }

  .checkout__details-title {
    font-size: 32px;
  }

  .checkout__top {
    margin-bottom: 20px;
  }

  .checkout__details-items {
    margin-bottom: 40px;
  }

  .checkout__info-item+.checkout__info-item {
    margin-top: 40px;
  }

  .checkout__infobox,
  .checkout__infobox-paycard {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .page-404__picture {
    display: none;
  }

  .page-404__content {
    width: 100%;
    margin: 20px 5px 0 5px;
  }

  .page-404__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .moving__text {
    animation-duration: 10s;
  }
}








@media (max-width: 600px) {

  .container {
    max-width: 480px;
  }

  .header__logo {
    margin-right: auto;
  }

  .footer__menu-list {
    gap: 11px 35px;
    flex-wrap: wrap;
  }

  .footer__menu-list {
    padding-left: 87px;
    padding-right: 87px;
  }

  .footer__elements {
    gap: 30px 100px;
    justify-content: center;
    text-align: center;
  }

  .footer__bottom-inner {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer__social-list {
    justify-content: center;
    margin-top: 0;
  }

  .join-us__img {
    max-width: 220px;
  }

  .join-us__title {
    font-size: 20px;
  }

  .join-us__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .join-us label+label {
    margin-bottom: 20px;
  }

  .join-us__input {
    font-size: 16px;
  }

  .join-us__box {
    padding-bottom: 23px;
  }

  .top__content {
    margin-right: 18px;
    padding-top: 44px;
  }

  .top__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .top__link {
    max-width: 222px;
  }

  .our-blog__img--second {
    display: none;
  }

  .our-blog__inner {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-image: none;
  }

  .our-blog__box-bottom {
    grid-column: span 1;
    margin-left: auto;
  }

  .our-blog {
    padding: 70px 0;
  }

  .our-blog__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .our-blog__btn-link {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .our-blog__box-img {
    height: 242px;
    object-fit: cover;
    object-position: left;
  }

  .our-blog__link {
    font-size: 16px;
  }

  .our-blog__text {
    margin-bottom: 25px;
  }

  .appointment__img {
    min-height: 505px;
  }

  .appointment__form-title {
    margin-bottom: 30px;
  }

  .appointment__form-text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .appointment__input {
    font-size: 16px;
  }

  .appointment {
    background-position: center 97px;
  }

  .reviews__top-title {
    font-size: 30px;
  }
}








@media (max-width: 540px) {
  .blog__nav-btns {
    display: none;
  }

  .blog__select-form,
  .blog__search {
    width: 100%;
  }
}






@media (max-width: 470px) {

  .header__actions {
    gap: 15px;
  }

  .logo__img {
    width: 162px;
    height: 16px;
  }

  .footer__menu-list {
    padding-left: 27px;
    padding-right: 27px;
  }

  .join-us__img {
    max-width: 160px;
  }

  .join-us__box {
    padding-top: 20px;
  }

  .top__content {
    margin-right: 0;
    padding-top: 32px;
  }

  .top__title {
    margin-bottom: 20px;
  }

  .top__link {
    font-size: 16px;
    max-width: 185px;
  }

  .new-collection__title {
    margin-bottom: 15px;
  }

  .new-collection__content {
    min-width: 160px;
  }

  .new-collection__img img {
    max-width: 160px;
  }

  .new-collection__text-mobile {
    display: none;
  }

  .designer__img {
    min-height: 315px;
    width: 160px;
  }

  .designer__box {
    max-width: 160px;
  }

  .designer__content {
    max-width: 160px;
  }

  .designer__caption {
    left: 13px;
    right: 13px;
    top: 220px;
    width: 134px;
  }

  .our-advantages__inner {
    margin-right: auto;
    text-align: center;
    padding: 110px 0 24px;
  }

  .our-advantages__img {
    width: 100%;
    height: 185px;
    top: -100px;
    object-position: top;
  }

  .our-advantages__item {
    padding-left: 0;
    padding-top: 30px;
  }

  .our-advantages__item::before {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  .our-blog__box-img {
    object-position: top;
  }

  .our-blog__btn-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  }

  .our-blog__inner {
    position: relative;
    padding-bottom: 45px;
  }

  .appointment__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .appointment__box {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .appointment__img-picture {
    order: -1;
  }

  .appointment__img {
    min-height: 250px;
  }

  .appointment__form {
    max-width: 220px;
    margin: 0 auto;
  }

  .appointment__form-title {
    text-align: center;
  }

  .appointment {
    background-position: right 500px;
    background-size: 164px;
  }

  .reviews__top-link {
    font-size: 14px;
  }

  .reviews__top-title {
    font-size: 24px;
  }

  .reviews__slider {
    margin-bottom: 70px;
  }

  .reviews__item {
    padding: 15px 10px;
  }

  .blog__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-main__title a {
    font-size: 28px;
  }

  .blog-main__link {
    font-size: 20px;
  }

  .blog-one__content h3 {
    font-size: 28px;
  }

  .blog-one__content h1 {
    font-size: 35px;
  }

  .blog-one__stats {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .blog-one__date::after {
    content: none;
  }

  .checkout__item-difinition {
    margin-left: 5px;
  }

  .order {
    padding: 20px 10px;
  }

  .order__link {
    padding: 20px;
  }

  .checkout__infobox-input,
  .checkout__infobox-select {
    padding: 10px;
  }

  .checkout__infobox--marker::before {
    top: 52px;
  }

  .checkout__infobox--arrow::before {
    top: 58px;
  }
}





@media (max-width: 4000px) {
  .checkout__item {
    margin: 0;
    gap: 10px;
  }
}