@use 'reset';
@use 'vars';
@use 'mixins';
@use 'fonts';
@use '../../node_modules/swiper/swiper-bundle.css';
@use 'global';

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
}

.promo {
  padding: 7px 0 9px;
  background-color: vars.$bg-primary;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: vars.$color-primary;
}

.header {
  padding: 20px 0 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: vars.$color-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;

    &-item--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.logo {
  display: inline-block;
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 44px;
    border-bottom: 1px solid vars.$bg-primary;
    margin-bottom: 50px;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__adress {
    font-style: normal;
  }

  &__element-list {
    margin-bottom: 5px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    width: 100%;
    border-bottom: 1px solid vars.$bg-primary;
    color: vars.$color-text-muted;
    padding: 1px 30px 5px 0;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    top: 5px;
    right: 0;
    @extend %button-reset;
  }

  &__bottom {
    background-color: vars.$bg-primary;
    padding: 7px 0 9px;
    font-size: 11px;
    color: vars.$color-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    padding-left: 26px;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
    gap: 0 37px;
  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }
}

.top {
  min-height: 90vh;

  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__content {
    padding: 115px 0 50px;
    max-width: 446px;
    margin-right: 134px;

  }

  &__title {
    @extend %lora-400;
    font-size: 80px;
    margin-bottom: 60px;
    line-height: 1.3;
  }

  &__link {
    display: inline-block;
    @include mixins.btn-accent;
    text-align: center;
    width: 275px;
  }
}

.new-collection {
  background-image: url('../images/new-collection-decor.svg');
  background-repeat: no-repeat;
  background-position: 400 -170;

  &__inner {
    padding: 150px 0;
    display: flex;
  }

  &__content {
    padding: 75px 40px 0 40px;
    max-width: 492px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
    @include mixins.lora-title;
  }

  &__text {
    color: vars.$color-text-muted;
  }

  &__text+.new-collection__text {
    margin-top: 25px;
  }

  &__btn {
    display: inline-block;
    @include mixins.btn-white-muted;
    padding: 10px 65px;
    margin-top: auto;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    width: 290px;
    margin-top: auto;
    margin-bottom: 40px;
    color: vars.$color-text-muted;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    display: flex;
    gap: 40px;
    padding: 0 40px;
  }

  &__img {
    max-width: 540px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-transform: uppercase;
    @include mixins.lora-title;
    margin-bottom: 15px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    border-bottom: 1px solid vars.$color-text-muted;
    padding-bottom: 10px;
    @extend %opensans-400;
    color: vars.$color-text-muted;
  }

  label {
    display: block;
  }

  label+label {
    padding-top: 10px;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    @include mixins.btn-accent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  &__form-caption {
    font-size: 11px;
  }
}

.designer {
  padding: 150px 0 210px;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__decor {
    position: absolute;
    top: -220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &__content {
    max-width: 404px;
  }

  &__title {
    @include mixins.lora-title;
    margin-bottom: 50px;
  }

  &__text {
    color: vars.$color-text-muted;
    margin-bottom: 25px;
    font-size: 16px;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__caption {
    position: absolute;
    @extend %lora-400;
    padding: 20px 18px;
    border: 3px solid vars.$bg-primary;
    top: 180px;
    left: -160px;
    width: 296px;
    background-color: #fff;
  }

  &__link {
    display: inline-block;
    @include mixins.btn-white-muted;
    padding: 10px 93px;
  }
}

.our-advantages {
  background-color: vars.$bg-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &__inner {
    padding: 64px 130px 34px 0;
    margin-left: auto;
    position: relative;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    @include mixins.lora-title;
    margin-bottom: 50px;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url('../images/list-decor.svg');
    }
  }
}

.our-blog {
  padding: 150px 0 100px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 0 40px;
    background-image: url('../images/our-blog-decor.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__title {
    @include mixins.lora-title;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 50px;
    color: vars.$color-text-muted;
    font-size: 16px;
  }

  &__btn-link {
    @include mixins.btn-white-muted;
    display: inline-block;
    padding: 10px 93px;
  }

  &__link {
    margin-bottom: 5px;
    @extend %lora-400;
    color: vars.$color-text-muted;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
    margin-top: -90px;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-date {
    color: vars.$color-primary;
    font-size: 16px;
    @extend %opensans-300;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.appointment {
  padding: 50px 0 130px;
  background-image: url('../images/appointment-decor.svg');
  background-repeat: no-repeat;
  background-position: center 105px;

  &__title {
    text-align: center;
    @include mixins.lora-title;
    margin-bottom: 77px;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__form-title {
    font-size: 30px;
    @extend %lora-400;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  &__form-text {
    margin-bottom: 30px;
    color: vars.$color-text-muted;
    @extend %opensans-700;
  }

  &__input {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid vars.$color-text-muted;
    color: vars.$color-text-muted;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__btn {
    margin-top: auto;
    @include mixins.btn-accent;
    border: none;
    cursor: pointer;
  }

}

.collections-top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.collections-main {
  .breadcrumbs {
    padding-top: 50px;
  }
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 16px;
    color: vars.$color-text-muted;
    font-size: 16px;
  }

  &__item {
    position: relative;
  }

  &__item+.breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -11px;
  }
}

.collections {
  padding-bottom: 100px;

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -210px;
    right: -30px;
    z-index: 5;
  }

  &__title {
    @include mixins.lora-title;
    margin-bottom: 50px;
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-areas:
      "c1 c2 c3 c4"
      "c5 c5 c6 c7"
      "c5 c5 c8 c9"
      "c10 c11 c12 c12"
      "c13 c14 c12 c12";
    gap: 40px;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      grid-area: c1;
    }

    &:nth-child(2) {
      grid-area: c2;
    }

    &:nth-child(3) {
      grid-area: c3;
    }

    &:nth-child(4) {
      grid-area: c4;
    }

    &:nth-child(5) {
      grid-area: c5;
      height: fit-content;
    }

    &:nth-child(6) {
      grid-area: c6;
    }

    &:nth-child(7) {
      grid-area: c7;
    }

    &:nth-child(8) {
      grid-area: c8;
    }

    &:nth-child(9) {
      grid-area: c9;
    }

    &:nth-child(10) {
      grid-area: c10;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(11) {
      grid-area: c11;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(12) {
      grid-area: c12;
      height: fit-content;
    }

    &:nth-child(13) {
      grid-area: c13;
    }

    &:nth-child(14) {
      grid-area: c14;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    @include mixins.btn-accent($radius: 0px);
    @extend %lora-400;
  }
}

.pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$color-primary;
  font-size: 16px;
  gap: 2px;

  &__list {
    display: flex;
    gap: 2px;
  }

  &__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    color: #fff;
    background-color: vars.$color-text-muted;
  }

  &__dots-disable {
    display: none;
  }

  &__arrow {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-disable {
    display: none;
  }
}

.product {
  padding-bottom: 150px;

  .radio-box,
  .check-box {
    display: inline-block;
  }

  &__inner {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1.1fr;
    padding-right: 40px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    picture:nth-child(2) {
      grid-row: span 2;
    }

    img {
      max-width: max-content;
    }
  }

  &__content {
    dl {
      margin-left: 0;
    }

    dd {
      margin-left: 0;
    }
  }

  &__title {
    @include mixins.lora-title;
    margin-bottom: 30px;
  }

  &__price {
    @extend %opensans-700;
    font-size: 25px;
    color: vars.$color-primary;
  }

  &__content-list {
    font-size: 16px;
    color: vars.$color-primary;
  }

  &__content-term {
    @extend %opensans-700;
  }

  &__content-difinition {
    margin-bottom: 30px;
  }

  &__content-text {
    color: vars.$color-text-muted;
    margin-bottom: 30px;
  }

  &__buttons {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__btn {
    @include mixins.btn-white-muted($radius: 3px);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 9px;
  }

  &__btn-addbag {
    grid-column: 1/-1;
    font-size: 20px;
  }

  &__content-checkbox {
    display: flex;
    gap: 10px;
  }

  &__content-radio {
    display: flex;
    gap: 30px;
  }
}

.radio-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 26px;

  &:checked+.radio-style::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: vars.$color-primary;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.radio-style {
  position: absolute;
  margin-left: -26px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid vars.$color-primary;
}

.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;

  &:checked+.check-style::before {
    content: '';
    width: 9px;
    height: 9px;
    background-color: vars.$color-primary;
    border-radius: 1px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.check-style {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid vars.$color-primary;
}

.checkbox-label {
  padding-left: 20px;
}

.radio-label {
  padding-left: 26px;
}

.accessories {
  margin-bottom: 90px;

  &__inner {
    position: relative;
  }

  &__decor {
    position: absolute;
    right: 64px;
    top: -100px;
  }

  &__title {
    max-width: 890px;
    margin: 0 auto;
    @include mixins.lora-title($size: 30px);
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid vars.$bg-primary;
    margin-bottom: 40px;
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__slider-wrapper {}

  &__slide {
    text-align: center;
  }

  &__slide-img {
    margin-bottom: 20px;
  }

  &__slide-title {
    margin-bottom: 10px;
  }

  &__slide-price {
    @extend %opensans-700;
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    top: 40%;
    z-index: 10;
  }

  &__arrow-prev {
    left: 7px;
  }

  &__arrow-next {
    right: 7px;
  }
}