<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Catalog</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Collections</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">About</a>
        </li>
        <li class="footer__menu-item">
          <a class="logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="logo">
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Book your appointment</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer__elements">
      <div class="footer__element">
        <p class="footer__element-title">Phones</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380978367320">+380 (97) 836 73 20</a>
          </li>
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380999846862">+380 (99) 984 68 62</a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Emails</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a class="footer__element-link" href="mailto:office@luxuriousbridalhaven.com">
              office@luxuriousbridalhaven.com
            </a>
          </li>
          <li class="footer__element-item">
            <a class="footer__element-link" href="mailto:sales@luxuriousbridalhaven.com">
              sales@luxuriousbridalhaven.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Location</p>
        <address class="footer__adress">
          Ukraine, Kyiv, <br>
          st. Arsenalna, 5
        </address>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Social</p>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="facebook">
              <svg width="25" height="25">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="instagram">
              <svg width="25" height="25">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Sign-up for our newsletter</p>
        <form class="footer__form" action="">
          <label><input class="footer__form-input" type="text" placeholder="Enter your email"></label>
          <button class="footer__form-btn" type="submit" aria-label="subscribe">
            <svg width="15" height="11">
              <use xlink:href="images/sprite.svg#envelop"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__copy">© Luxurious Bridal Haven. All rights reserved.</p>
        <ul class="footer__bottom-list">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Refund policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>