<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luxurious Bridal Haven</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a class="logo" href="#">
              <img class="logo__img" src="images/logo.svg" alt="logo">
            </a>
          </div>
          <ul class="header__lang">
            <li class="header__lang-item header__lang--active">
              <a class="header__lang-link" href="#">EN</a>/
            </li>
            <li class="header__lang-item">
              <a class="header__lang-link" href="#">UA</a>
            </li>
          </ul>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="#">CATALOG</a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="#">COLLECTIONS</a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="#">ABOUT</a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="#">BOOK AN APPOINTMENT</a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="#">CONTACT</a>
              </li>
            </ul>
          </nav>
          <ul class="header__actions">
            <li class="header__actions-item">
              <a class="header__actions-link" href="#">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a class="header__actions-link" href="#">
                <svg width="24" height="21">
                  <use xlink:href="images/sprite.svg#wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a class="header__actions-link" href="#">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>