<section class="join-us">
  <div class="container">
    <div class="join-us__inner">
      <picture>
        <source srcset="images/join-us.avif" type="image/avif">
        <source srcset="images/join-us.webp" type="image/webp">
        <img class="join-us__img" src="images/join-us.jpg" alt="Open back dress">
      </picture>
      <div class="join-us__box">
        <h2 class="join-us__title">
          JOIN US
        </h2>
        <p class="join-us__text">
          Sign up and get 10% discount on your first purchase!
        </p>
        <form class="join-us__form" action="">
          <label><input class="join-us__input" type="text" placeholder="First Name"></label>
          <label><input class="join-us__input" type="email" placeholder="Email"></label>
          <button class="join-us__btn" type="submit">GET 10%</button>
          <p class="join-us__form-caption">
            *By compleating this form you are signing up to receive our emails and can unsubscribe at any time.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>