<div class="pagination">
  <a class="pagination__prev pagination__arrow pagination__arrow-disable" href="#">
    <svg width="12" height="4">
      <use xlink:href="images/sprite.svg#pagination__prev"></use>
    </svg>
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">4</a>
    </li>
    <li class="pagination__item pagination__dots-disable">
      <span class="pagination__link" href="#">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">5</a>
    </li>
  </ul>
  <a class="pagination__next  pagination__arrow" href="#">
    <svg width="12" height="4">
      <use xlink:href="images/sprite.svg#pagination__next"></use>
    </svg>
  </a>
</div>